@(message: String)


<span id="message">@message</span>
<div style="width : 400 px ; margin-right : auto ; margin-left : auto ;">
	<form id="newGroupementScientifiqueForm">
		<table>
			<tr>
				<td>NOM :</td>
				<td><input type="text" name="groupement_scientifique_nom" placeholder="Nom du groupe" id="nom"></td>
			</tr>
			<tr>
				<td>Groupe père: </td>
				<td>
					<select name="pere">
						<option value="NULL">none</option>
						@for(gs: GroupementScientifique <- GroupementScientifique.findAllByHierarchie()) {
							<option value="@gs.groupement_scientifique_id">
							@if(gs.groupement_scientifique_type.intitule.equals("super-famille")){&nbsp;&nbsp;}
							@if(gs.groupement_scientifique_type.intitule.equals("famille")){&nbsp;&nbsp;&nbsp;&nbsp;}
							@if(gs.groupement_scientifique_type.intitule.equals("sous-famille")){&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
							@gs.groupement_scientifique_nom
							</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td>Type de groupe: </td>
				<td>
					<select name="type">
					@for(ty: TypeGroupementScientifique <- TypeGroupementScientifique.find.findList()) {
						<option value="@ty.intitule">@ty.intitule</option>
					}
					</select>
				</td>
			</tr>
		</table>
	</form>
	<button onclick="submitNewGroupement()">Valider</button>
</div>
