

@(message: String, espece: Espece)


<span id="message">@message</span>

<div style="width : 400 px ; margin-right : auto ; margin-left : auto ;">
	<form id="editEspeceForm">
		<table>
			<p>
				Espece n'°@espece.espece_id
			</p>
			<tr>
				<td>nom :</td>
				<td><input type="text" name="espece_nom" value="@espece.espece_nom" placeholder="Nom de l'espece" id="espece_nom"></td>
			</tr>
			
			<tr>
				<td>auteur :</td>
				<td><input type="text" name="espece_auteur" value="@espece.espece_auteur" placeholder="Nom de l'auteur" id="espece_auteur"></td>
			</tr>
			<tr>
				<td>systematique :</td>
				<td><input type="text" name="espece_systematique" value="@espece.espece_systematique" placeholder="systematique" id="espece_systematique"></td>
			</tr>
			<tr>
				<td>commentaire :</td>
				<td><input type="text" name="espece_commentaires" value="@espece.espece_commentaires" placeholder="commentaire" id="espece_commentaires"></td>
			</tr>
			<tr>
				<td>Groupement Scientifique père: </td>
				<td>
					<select name="groupement scientifique">
						<option value="NULL">none</option>
						@for(gs: GroupementScientifique <- GroupementScientifique.findAllByHierarchie()){
								<option value="@gs.groupement_scientifique_id" @if(espece.espece_groupement_scientifique_pere!=null && gs.groupement_scientifique_id==espece.espece_groupement_scientifique_pere.groupement_scientifique_id){selected}>
								@if(gs.groupement_scientifique_type.intitule.equals("super-famille")){&nbsp;&nbsp;}
								@if(gs.groupement_scientifique_type.intitule.equals("famille")){&nbsp;&nbsp;&nbsp;&nbsp;}
								@if(gs.groupement_scientifique_type.intitule.equals("sous-famille")){&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
								@gs.groupement_scientifique_nom
								</option>
						}
					</select>
				</td>
			</tr>
			<tr>
			<td>Image: </td>
			<td>@if(espece.espece_photo!=null){<img src="@espece.espece_photo" style="max-width:150px;max-height:100px"></img>}</td>
			</tr>
		</table>
	</form>
	<br>
	<button onclick="changerImage(@espece.espece_id)">Changer image</button>
	<button onclick="submitEditEspece(@espece.espece_id)">Valider</button>
	<br><br>
	<button onclick="deleteEspece(@espece.espece_id)">Supprimer</button>
	
</div>
