@(listeFils : List[Groupe], expanded : Boolean)


<!-- Fils -->
@for(fils <- listeFils) {
    <div class="element" id="groupement-@fils.groupe_id">
        <span class="typeGroupement">@fils.groupe_type.type_groupement_local_intitule</span><br>
        <div class="groupement" id="@fils.groupe_id">@fils</div>
    </div>

    <div class="container level" id="groupement-@fils.groupe_id-container" @if(!expanded){style="display: none;"}>

            <!-- PETITS FILS -->
        @this(fils.getFils(), expanded)

            <!-- ESPECES -->
        @for(espece <- fils.getEspecesInThis()) {
            <div class="element">
                <span class="typeGroupement">espèce</span><br>
                <div class="espece" id="espece-@espece.espece_id" ondblclick="editEspece('@espece.espece_id')">@espece.espece_nom</div>
            </div>
        }
        @if(fils.getEspecesInThis().isEmpty() && fils.getFils().isEmpty()){
            <div class="element empty">(Groupement vide)</div>
        }
    </div>
}